# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
**/.env

# Production
build/
dist/

# Other
.DS_Store


#jwtRS256 keys
**/jwtRS256.key
**/jwtRS256.key.pub
